*{
	font-family: 'Open Sans', sans-serif;
}
.ae-container-fluid--full{
	background-color: $color_a; /*rojo*/	
	display: inline-flex;
	width: 100% auto;
	height: 10vh;
	padding: 5px;
	text-align: center;
	color: $color_d;
	font-weight: bold;	
	img{
		display: inline-flex;
		width: 58px;
		height: 58px;
		margin-left: 30%;
		margin-right: 5%;
		border-radius: 100px;
		background-color: lightgrey;
		border:3px solid $color_d;
		padding: 10px;
	}
	.btn button{
		display: inline-flex;
		width: 100px;
		height: 30px;
		background-color: $color_b;
		color:$color_d;
		border-radius: 23px;
		font-weight: bold;
		margin-top: 10px;
		padding: 5px 15px;		
	}
	a{
		text-decoration: none;
		color: $color_d;
	}
	a:hover{
		background-color: $color_d;
		color: $color_a;
		padding: 12px;
	}
	li{
		display: inline-flex;
		width: auto;
		margin-right: 55px;	
		font-size: 15px;
		font-weight: 400;	
	}
}
#box{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.ae-grid{
	background-color: $color_b; /*azuloscuro*/
	position: relative;
	width: 100%;
	height: auto;
	top: 50px;
	padding: 50px;
	color: $color_d;
	.imagen h1{
		background-color: $color_d;		
		color: $color_b;
		width: 250px;
		height: 250px;
		font-size: 60px;
		border-radius: 300px;
		margin-left: 40%;
		padding: 60px;
	}
	h1{
		color: $color_c;
		font-size: 50px;
	}
	h2{
		margin-bottom: 40px;
		margin-top: -20px;
	}
	button{
		width: 200px;
		height: auto;
		padding: 10px;
		background-color: $color_c; /*verde*/
		border-radius: 30px;	
		color: $color_d;	
		font-weight: 700;
		font-size: 15px;
	}
	.box1{
		display: inline-flex;
		width: 100%;
		justify-content: center;
		img{
			width: 50px;
			height: 50px;
			margin-right: 20px;
		}
	}
}

.ae-grid.box2{
	background-color: $color_d;	
	height: auto;
	padding: 10px;
	margin-bottom: 30px;
	img{
		box-shadow: 2px 2px 8px #000;
		margin-top: 45px;
		border-radius: 10px;
		cursor: pointer;					
	}	
	img:hover{
		background-color:$color_d;
		opacity: .5;  
	}
	h1{
		font-size: 45px;
		color: $color_c;
		font-weight: 700;
		text-align: center;
		width: 90%;
	}
	p{
		color: $color_e;
		text-align: justify;
		font-weight: 400;
		width: 90%;
	}	
}

.ae-grid.box3{
	background-color: $color_b;
	color: $color_d;
	text-align: center;	
	height: 10vh;
	padding: 10px;
	
	h5{
		display: inline-block;
		margin-right: 30px;		
	}
	img{
		
	}
}
