*{
	font-family: 'Open Sans', sans-serif;
}
.ae-container-fluid--full{
	background-color: $color_a; /*rojo*/	
	display: inline-flex;
	width: 100% auto;
	padding: 15px;
	text-align: center;
	color: $color_d;
	font-weight: bold;	
	img{
		display: inline-flex;
		width: 80px;
		height: 80px;
		margin-left: 30%;
		margin-right: 5%;
		border-radius: 100px;
		background-color: lightgrey;
		border:3px solid $color_d;
		padding: 10px;
	}
	.btn button{
		display: inline-flex;
		width: 100px;
		height: 30px;
		background-color: $color_b;
		color:$color_d;
		border-radius: 23px;
		font-weight: bold;
		margin-top: 10px;	
		.btn img{
			width: 10px;
			height: 10px;
			
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	li{
		display: inline-flex;
		width: auto;
		margin-right: 25px;
	}
}
#box{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.ae-grid{
	background-color: $color_b; /*azuloscuro*/
	position: relative;
	width: 100%;
	height: auto;
	top: 70px;
	padding: 50px;
	color: $color_d;
	.imagen h1{
		background-color: $color_d;		
		color: $color_b;
		width: 250px;
		height: 250px;
		font-size: 50px;
		border-radius: 300px;
		margin-left: 40%;
		padding: 75px;
	}
	h1{
		color: $color_c;
		font-size: 50px;
	}
	h2{
		margin-bottom: 40px;
		margin-top: -20px;
	}
	button{
		width: 200px;
		height: auto;
		padding: 10px;
		background-color: $color_c; /*verde*/
		border-radius: 30px;	
		color: $color_d;	
		font-weight: 700;
	}
	.box1{
		display: inline-flex;
		width: 100%;
		justify-content: center;
		img{
			width: 50px;
			height: 50px;
			margin-right: 20px;
		}
	}
}
