.ae-container-fluid--full{
	background-color: red;	
	display: inline-flex;
	width: 100% auto;
	padding: 15px;
	text-align: center;
	color: white;
	font-weight: bold;	
	img{
		display: inline-flex;
		width: 80px;
		height: 80px;
		margin-left: 30%;
		margin-right: 5%;
		border-radius: 100px;
		background-color: lightgrey;
		border:3px solid white;
		padding: 10px;
	}
	button{
		display: inline-flex;
		width: 100px;
		height: 30px;
		background-color: blue;
		color:white;
		border-radius: 23px;
		font-weight: bold;
		margin-top: 10px;	
		img{
			width: 10px;
			height: 10px;
			background-color: white;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	li{
		display: inline-flex;
		width: auto;
		margin-right: 25px;
	}
}
#box{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.ae-grid{
	background-color: blue;
	position: relative;
	width: 100%;
	height: auto;
	top: 70px;
	padding: 50px;
	color: white;
	.imagen h1{
		background-color: white;		
		color: blue;
		width: 250px;
		height: 250px;
		font-size: 50px;
		border-radius: 300px;
		margin-left: 40%;
		padding: 80px;
	}
	h1{
		color: green;
		font-size: 50px;
	}
	h2{
		margin-bottom: 40px;
		margin-top: -20px;
	}
	button{
		width: 200px;
		height: auto;
		padding: 10px;
		background-color: green;
		border-radius: 30px;		
	}
	.box1{
		display: inline-flex;
		width: 100%;
		justify-content: center;
		img{
			width: 50px;
			height: 50px;
			margin-right: 20px;
		}
	}
}
